# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        66
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        41
        46
        -55
        -49
        75
        77
        42
        -54
        76
        -50
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        69
        8
        49
        48
        -68
        96
        102
        -8
        15
        -123
        -72
        -64
        -88
        -4
        -80
        -112
        7
        0
        -62
        -87
        86
        -31
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        3
        0
        1
        115
        0
        0
        0
        32
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        66
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        41
        46
        -55
        -49
        75
        77
        42
        -54
        76
        -50
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        69
        8
        49
        48
        124
        96
        -2
        -64
        -128
        10
        -47
        -63
        -88
        -4
        -16
        -110
        7
        0
        -125
        -104
        -113
        41
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        3
        0
        1
        115
        0
        0
        0
        47
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        41
        46
        -55
        -49
        75
        77
        42
        -54
        76
        -50
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        69
        8
        49
        48
        52
        -80
        -4
        103
        24
        -123
        35
        25
        2
        0
        102
        125
        21
        -55
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        3
        0
        1
        115
        0
        0
        0
        55
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        59
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        41
        46
        -55
        -49
        75
        77
        42
        -54
        76
        -50
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        69
        8
        49
        48
        52
        48
        -3
        31
        -31
        0
        0
        -94
        34
        21
        -57
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:4 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        3
        0
        1
        115
        0
        0
        0
        31
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        41
        46
        -55
        -49
        75
        77
        42
        -54
        76
        -50
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        69
        8
        49
        48
        52
        -80
        48
        -4
        31
        -123
        35
        25
        2
        0
        103
        110
        21
        -55
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:5 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        116
        111
        110
        101
        98
        114
        105
        99
        107
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        67
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        41
        46
        -55
        -49
        75
        77
        42
        -54
        76
        -50
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        69
        8
        49
        48
        60
        97
        102
        96
        -8
        -1
        -97
        1
        47
        24
        -107
        31
        -22
        -14
        0
        -85
        -116
        54
        -3
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


